@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Roboto&display=swap&family=Spectral&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
  flex-direction: column;
  display: flex;
}

#wrapper {
  background: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding: 10%;
  height: 100vh;
}

#container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  background: hsl(244, 38%, 16%);
  border-radius: 10px 10px 10px 10px;
}

.content {
  margin: 2.5em 2.5em 2.5em 2.5em;
  display: inline;
  border-radius: 10px 10px 10px 10px;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.content h1 span {
  color: blueviolet;
}
.content p {
  margin-bottom: 50px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
#statistics {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#statistics h3 {
  font-family: "Inter";
  letter-spacing: 2px;
}

.sub-stats span {
  font-family: "Spectral", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-weight: 400;
}

#image-container {
  background: url("./images/image-header-desktop.jpg");
  display: inline-block;
  background-size: cover;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
}

#image-container::before {
  content: "";
  background: blueviolet;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#image-container img {
}

.attribution {
  flex-basis: 0;
}
