@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Roboto&display=swap&family=Spectral&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
  height: 100%;
}

#wrapper {
  background: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding: 10%;
  min-height: 100vh;
}

#container {
  display: flex;
  flex-direction: row;
  background: hsl(244, 38%, 16%);
  border-radius: 10px 10px 10px 10px;
  min-height: 100%;
}

#container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  margin: 2.5em 2.5em 2.5em 2.5em;
  border-radius: 10px 10px 10px 10px;
  height: auto;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.content h1 span {
  color: blueviolet;
}
.content p {
  margin-bottom: 50px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

.statistics {
  list-style-type: none;
}

.statistics > li {
  display: flex;
  flex-direction: column;
}
.statistics {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statistics .stats {
  font-family: "Inter";
  letter-spacing: 2px;
}

.sub-stats span {
  font-family: "Spectral", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1rem;
  font-weight: 400;
}

#image-container {
  background: url("./images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

#image-container .layer {
  background-color: rgba(138, 43, 226, 0.35);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 00px;
}

.attribution {
  position: relative;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.attribution a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(228, 45%, 44%);
}

@media (max-width: 930px) {
  #wrapper {
    padding: 1.5em;
  }
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
    min-height: 100%;
  }

  #image-container{
    flex:1;
  }

  .content{
    flex:1;
    text-align:center;
  }

  .statistics {
    flex-direction: column;
    justify-content: space-between; 
  }

  .statistics li:nth-child(2){
    margin: 20px;
  }
}
