@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Roboto&display=swap&family=Spectral&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(233, 47%, 7%);
}

#wrapper {
  background: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding: 10%;
}

#container {
  display: flex;
  position: relative;
  background: hsl(244, 38%, 16%);
  border-radius: 10px 10px 10px 10px;
  max-width:100%;
  height: 100%;

}

.content {
  margin: 2.5em 2.5em 2.5em 2.5em;
  border-radius: 10px 10px 10px 10px;
  flex-basis: auto;
  width: 50%;
  height: auto;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.content h1 span {
  color: blueviolet;
}
.content p {
  margin-bottom: 50px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
#statistics {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#statistics h3 {
  font-family: "Inter";
  letter-spacing: 2px;
}

.sub-stats span {
  font-family: "Spectral", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 15px;
  font-weight: 400;
}

#image-container {
  background: url("./images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
  width:50%;
  height: auto;
}

#image-container .layer {
  background-color: rgba(138, 43, 226, 0.45);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.attribution {
  position: absolute;
  bottom: 20px;
  left: auto;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.attribution a {
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 930px) {
  #wrapper {
    padding: 1.5em;
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  #container {
    flex-direction: column;
}
#image-container {
  background: url("./images/image-header-desktop.jpg");
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
  width:auto;
  height: 50%;
}

.content {
  margin: 2.5em 2.5em 2.5em 2.5em;
  border-radius: 10px 10px 10px 10px;
  width: auto;
  justify-content: center;
  align-self: flex-end;
}

} 
